*{
    box-sizing: border-box;
}

body , html {
    width: 100%;
    height: 100%;
     font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
    color:#fff;
}
p {
    margin: 0;
}
h1,h2,h3{
    margin: 0;
    font-weight: normal;
}
ul , li{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    padding: 0;
    background: transparent;
    color: #fff;
    border: none;
}
.wrapper {
   
    
}
.preview {
      
        background-color: rgb(0, 0, 0);

}
.conteiner{
        width: 1440px;
        margin: 0 auto;

}


.button{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.button:before {
    content:'';
    display: inline-block;
    height: 2px;
    width: 65px;
    background-color: #fff;
    margin-right: 30px;
    vertical-align: middle;
}
.button--rotate::before{
    display: none;
}
.button--rotate::after{
    content:'';
    display: inline-block;
    height: 2px;
    width: 65px;
    background-color: #fff;
    margin-left: 30px;
    vertical-align: middle;
}
.preview .conteiner{
    display: flex;
}
.preview-left {
        padding-top: 26px;
}
.preview-right{
    width: 100%;

}


.header{
    margin-bottom: 154px;

} 

.logo {
    padding: 0 0 154px 0;
}

.preview-content {
       
    }
.preview_subititle {
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 10px;
            text-transform: uppercase;
            margin-bottom:  20px ;
    
}

.preview__title {
             font-family: Montserrat;
            font-size: 48px;
            line-height: 56px;
             max-width: 450px;
            margin-bottom:  30px ;
           
            
}
.preview__paragraphe {
            font-size: 15px;
            line-height: 24px;
           
}
.preview__paragraphe{
    max-width: 750px;
}

    .about_me{
        
        background-color: #1a1a1a;
    }

    .container {
        text-align: center;

    }
    .about_me .container{
        position: relative;
        padding: 120px 0 96px 0;


    }

    .about_me_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        position: relative;

    }
    .about_me_avatar {
        margin-bottom: 50px;
    }
    .avatar {
        height: 280px;
        width: 280px;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        display: inline-block;
    }
    .avatar--60{
        height: 60px;
        width: 60px;
    }
    .avatar__item {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .about_me_text {
    }
    .about_me_title {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .about_me_paragraphe {
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        max-width: 450px;
    }
    .about__me_section_title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 240px;
        color: #6236FF;
        mix-blend-mode: normal;
        opacity: 0.3;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 25px;
        z-index: 1;
        white-space: nowrap;
    }
    .statistics {
        padding: 122px 0 125px 0;
        background: url(../img/statistic__baground.png) center center no-repeat;
        background-size: cover;
    }
    .conteineer {
    }
    .statistics__content {
    }
    .statistics__list {
        display: flex;
        justify-content: center;
    }
    .statistics__item {
        margin-right: 100px;
    }
    .statistics__item :last-child{
        margin-right: 0;
    }
    .statistics__value {
        font-family: Montserrat;
        font-size: 80px;
        line-height: 96px;
        text-align: center;
        margin-bottom: 14px;
    }
    .statistics__text {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .plan {
        padding: 92px 0 120px 0;
        background: #1a1a1a;
    }
    .plan__content{
        text-align: center;
        margin-bottom: 84px;
    }
    .conteiner {
    }
    .plan__subtitle {
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .plan__title {
        font-family: Montserrat;
        font-size: 48px;
        line-height: 56px;
    }
    .plan__list {
        display: flex;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;

    }
    .plan__item {
        flex: 1;
        border-right: 1px solid #fff;
        padding: 60px 30px;
    }
    .plan__item:first-child{
        border-left: 1px solid #fff;

    }
    .plan__item_title {
            font-family: Montserrat;
            font-size: 34px;
            line-height: 51px;
            margin-bottom: 27px;
    }
    .plan__item-list {
    }
    .plan__item-name {
        font-size: 14px;
        line-height: 64px;
        letter-spacing: 4px;
        text-transform: uppercase;
        
    }
    .plan__item_cost {
            font-family: Montserrat;
            font-size: 34px;
            line-height: 51px;
            text-align: right;
            margin-bottom: 20px;
    }
    .plan__item-button{
        text-align: right;
    }
    .form {
        background: #1a1a1a;
        
    }
    .form .conteiner {
        padding: 120px 160px;
    }
    .conteiner {
    }
    .form__content {
        background: #000;
        padding:51px 0 60px 0 ;
        text-align: center;
    }
    .form__title {
        font-family: Montserrat;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 30px;
    }
    .form__text {
        font-size: 15px;
        line-height: 24px;
        margin: 0 auto;
        margin-bottom: 72px;
        max-width: 644px;
        
    }
    .form__block {
        display: flex;
        flex-direction: column;
        max-width: 543px;
        margin: 0 auto;
    }
    .form__input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
        padding-left: 15px;
        margin-bottom: 30px;
    }
    .form__button {
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 1px solid #fff;
        padding: 9px 13px;
        align-self: flex-end;

    }
    .container {
    }
    .gallery{
        background: #1a1a1a;
    }
    .gallery__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 110px;
       

    }
    .gallery__item {
        width: 360px;
        height: 360px;
        transition: opacity .4s;
    }
    .gallery__icon {
    }
    .gallery__item:hover{
        cursor: pointer;
        opacity: .7;
    }
    .footer {
        background: #000;
        padding: 79px 0 81px;
        display: flex;
        justify-content: center;
    }
    .container .footer  {
        
       
       
    }
    .footer__content { 
       

    }
    .footer__menu {
        margin-bottom: 31px;
    }
    .menu {
    }
    .menu__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu__item {
        margin-right: 31px;
    }
    .menu__item:last-child{
        margin-right: 0;
    }
    .menu__link {
        text-decoration: none;
        font-size: 16px;
        color: #FFFFFF;
    }
    .footer__socials {
        margin-bottom: 30px;
        
    }
    .socials {
       
    }
    .socials__list {
        display: flex;
        align-items: center;
         justify-content: center;
        
    }
    .socials__item {
        margin-right: 30px;
    }
    .socials__item:last-child{
        margin-right: 0;
    }
    .socials__link {
    }
    .socials__icon {
    }
    .footer__copyright {
        font-size: 13px;
        text-align: center;
        letter-spacing: 1.18182px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .feedback {
        background: #1a1a1a;
        padding: 35px 0 48px;
    }
    .container {
    }
    .feedback__content {
        text-align: center;
        margin-bottom: 109px;
    }
    .feedback__subtitle {
        font-size: 18px;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .feedback__title {
        font-family: Montserrat;
        font-size: 48px;
        line-height: 56px;
        max-width: 450px;
        margin: 0 auto;
    }
    .feedback__list {
        margin-bottom: 49px;
        display: flex;
        
    }
    .feedback__list:last-child{
        margin-right: 0;
    }
    .feedback__item {
        background: #000;
        max-width: 350px;
        padding: 30px 26px 26px;
        margin-right: 27px;
    }
    .feedback__text {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    .feedback__user {
        display: flex;
    }
    .feedback__user-avatar {
        margin-right: 10px;
    }
    .avatar {
    }
    .avatar__item {
    }
    .feedback__user-data {
    }
    .feddback__user-name {
        font-family: Montserrat;
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .feedback__user-position {
        font-size: 13px;
         line-height: 16px;
    }
    .feedback__buttons{
        display: flex;
        justify-content: space-between;
    }
    .portfolio {
        background: #1a1a1a;
        padding: 120px 0 80px;
    }
    .container {
    }
    .portfolio__content {
        text-align: center;
        margin-bottom: 109px;
    }
    .portfolio__subtitle {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .portfolio__title {
        font-family: Montserrat;
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 30px;
    }
    .portfolio__text {
        font-size: 15px;
        line-height: 24px;
        max-width: 620px;
        margin: 0 auto;
        
    }
    .portfolio__list {
        display: flex;
        justify-content: center;
        margin-bottom: 86px;
    }
    .portfolio__item {
    }
    .portfolio__imege {
    }
    .portfolio__buttons {
        display: flex;
        justify-content: space-between;
    }
